#numpy==2.2.2
aiogram==3.17.0
aiohttp==3.11.12
openai==1.61.1
aioboto3==13.4.0
Pillow==11.1.0
python-dotenv==1.0.1
#opencv-python-headless==4.9.0.80
pytesseract==0.3.10
requests==2.31.0
pyzbar==0.1.9
